.box
{
    height:85%;
    width:35%;
    border:2px solid black;
    margin:auto;
    margin-top:50px;
    border-radius: 8px;
    box-shadow:5px 5px 5px 5px grey;
   position:relative;
   background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=400&q=80');
   background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 0.2em;
}
#b1
{
    text-align:center;
    font-family: 'Times New Roman', 'Times, serif';
    font-size:45px;
    color:white;
    position:absolute;
    font-weight:bold;
}
#b2
{
    font-style:italic;
    text-align:center;
    top:200px;
    position: absolute;
    color:white;
    width:100%;
    font-size: 30px;
}
#b3
{
    text-align:center;
    position:absolute;
    color:white;
    width:100%;
    font-size:25px;
    font-weight:bold;
    font-family:Times, serif;
    top:540px;
}
#b4
{
    text-align:center;
    position:absolute;
    color:white;
    width:100%;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    top:320px;
    letter-spacing: 0.1em;
}
#b5
{
    text-align:center;
    position:absolute;
    color:white;
    width:100%;
    font-size:20px;
    font-weight:bold;
    font-family: Times New Roman;
    bottom:30px;
    letter-spacing: 0.4em;
}
#i
{
    width:100px;
    height:100px;
    position:absolute;
    top:450px;
    left:220px;
    border-radius: 5px;
}